@()
@main("Change Password") {
<div id="loginPage">
    <div data-ng-controller="changePasswordController">
        <div class="section group">
            <form role="form"
                  data-ng-submit="postChangePasswordForm('@routes.HomeController.changePassword', '@routes.HomeController.index')">
                <div class="billy sign-in-panel panel panel-default">
                    <div class="panel-body">
                        <h1 class="sign-in-header">Change Password</h1>
                        <div class="form-group">
                            <label for="oldPassword">Username:</label>
                            <input class="form-control" data-ng-model="username"
                                   data-ng-change="feedback = ''" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="oldPassword">Old Password:</label>
                            <input class="form-control" type="password" data-ng-model="oldPassword"
                                   data-ng-change="feedback = ''">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input class="form-control" data-ng-model="newPassword"
                                   type="password" data-ng-change="feedback = ''">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Change Password">
                    </div>
                </div>
            </form>
        </div>
        <div class="section group">
            <div class="col span_1_of_3"></div>
            <div class="col span_1_of_3">
                <div class="alert alert-danger well" data-ng-show="feedback !=''">
                    <center data-ng-cloak>{{ feedback }}</center>
                </div>
            </div>
            <div class="col span_1_of_3"></div>
        </div>
    </div>
</div>

}
