@()
@main("Sign in") {
<div id="loginPage">
    <div data-ng-controller="loginController">
        <div class="section group">
            <form role="form"
                  data-ng-submit="postLoginForm('@routes.HomeController.login', '@routes.HomeController.welcome()')">
                <div class="billy sign-in-panel panel panel-default">
                    <div class="panel-body">
                        <h1 class="sign-in-header">Sign in</h1>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" data-ng-model="username"
                                   data-ng-change="feedback = ''" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" data-ng-model="password"
                                   type="password" data-ng-change="feedback = ''">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Sign in">
                    </div>
                </div>
            </form>
        </div>
        <div class="section group">
            <div class="col span_1_of_3"></div>
            <div class="col span_1_of_3">
                <div class="alert alert-danger well" data-ng-show="feedback !=''">
                    <center data-ng-cloak>{{ feedback }}</center>
                </div>
            </div>
            <div class="col span_1_of_3"></div>
        </div>
    </div>
</div>

}
