@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign in</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <!--<script src=//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-animate.js"></script>-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/col.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/2cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/3cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/4cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/5cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/6cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/7cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/8cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/9cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/10cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/11cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/12cols.css")" media="all">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
    <div class="main_container">
        @content
    </div>
    </body>
</html>
