@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign in</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/col.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/2cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/3cols.css")" media="all">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/4cols.css")" media="all">

    </head>
    <body>
    <div class="main_container">
        @content
    </div>
    </body>
</html>
