@import play.api.libs.json.Json
@import play.api.libs.json.Json.toJson
@import util.JsonMappers.customerFmt
@(username: String, token: String, customers: Option[List[Customer]], permissions: Option[Seq[Int]])
@main(s"Welcome $username") {
<div data-ng-controller="mainController">
	<div class="section group">
        <div class='page-header'>
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <a href="@routes.HomeController.index" class="btn btn-primary" role="button">Sign out</a>
                </div>
            </div>
            <h1>Welcome @username!</h1>

        </div>
	</div>
	<div class="section group" data-ng-if="@permissions.isDefined">
        <div class="col span_1_of_4 list-group">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <b>CUSTOMERS</b>
                <div class="btn-group pull-right">
                    <a href="#" data-ng-click="showCreateCustomerForm=true; showCustomerDetails=false"><span class="glyphicon glyphicon-plus-sign"></span></a>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @customers.isDefined match {
                        case true => {
                            @for(customer <- customers.get){
                                <a class="list-group-item" data-ng-click="selectedCustomer = @Json.toJson(customer); showCustomerDetails=true; showCreateCustomerForm=false" href="#">@customer.customerName</a>
                            }
                        }
                        case false => {
                            <b>Error while trying to retrieve customers</b>
                        }
                    }
                </ul>
            </div>
        </div>
			</div>
			<div class="col span_3_of_4">
                <div class="panel panel-default" data-ng-show="showCustomerDetails">
                    <div class="panel-heading"><b>CUSTOMER DETAILS</b></div>
                    <div class="panel-body">
                        <div class="section group">
                            <ul class="list-group">
                                <li>ID: {{ selectedCustomer._id }}</li>
                                <li>Name: {{selectedCustomer.customerName}}</li>
                            </ul>
                        </div>
                       	<ul class="nav nav-tabs">
                        	<li role="presentation" id="usersTab" class="active"><a href="#"><span>Users</span></a></li>
                            <li role="presentation" id="rolesTab"><a href="#"><span>Roles</span></a></li>
                        </ul>
                        <div class="section group">
                            <div class="col span_2_of_7">
                                <div class="panel panel-default" data-ng-show="showUsers">
                                    <div class="panel-heading clearfix">
                                        <b>Users</b>
                                        <div class="btn-group pull-right">
                                            <a href="#" data-ng-click="showCreateUserForm=true; "><span class="glyphicon glyphicon-plus-sign"></span></a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        You do not have permission to view this.
                                    </div>
                                </div>
                                <div class="panel panel-default" data-ng-show="showRoles">
                                    <div class="panel-heading clearfix">
                                        <b>Roles</b>
                                        <div class="btn-group pull-right">
                                            <a href="#" data-ng-click="showCreateRoleForm=true"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        You do not have permission to view this.
                                    </div>
                                </div>
                            </div>
                            <div class="col span_5_of_7">
                                <div class="panel panel-default" data-ng-show="showCreateUserForm">
                                    <div class="panel-heading">
                                        <b>Create User</b>
                                    </div>
                                    <div class="panel-body">
                                    	<form id="createuserform">
                                    		<div class="section group">
	                                    		<div class="col span_3_of_5">
		                                    		<label>Display Name:</label>
		                                    		<div class="form-inline form-group">
													   <div class="form-group">
													    <input type="text" class="form-control" id="firstname" placeholder="First Name" data-ng-model="newUserFirstName">
													  </div>
													  <div class="form-group">
													    <input type="text" class="form-control" id="lastname" placeholder="Last Name" data-ng-model="newUserLastName">
													  </div>                                   			
		                                    		</div>
	                                    		</div>
	                                    		<div class="col span_1_of_5">
	                                    			<label>Status:</label>
	                                    			<div class="form-check">
													  <label class="form-check-label">
													    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" unchecked>
													    Enabled
													  </label>
												</div>
                                    		</div>	                                    		                                    		
                                    		</div>
											<div class="section group">
											    <div class="col span_2_of_5">
	                     					        <label>Username:</label>
		                                    		<div class="form-group">
		                                    			<div class="form-group">
		                                    				<input type="text" class="form-control" id="username">
		                                    			</div>
		                                    		</div>
                                    			</div>
											</div>
											<div class="section group">
												<div class="col span_2_of_5">
													<label>Password:</label>
													<div class="form-group">
														<input type="password" class="form-control" data-ng-model="newUserPassword">
													</div>
												</div>
												<div class="col span_2_of_5">
													<label>Re-enter password:</label>
													<input type="password" class="form-control" data-ng-model="newUserPasswordRepeat">
												</div>
											</div>
											<div class="section group">
												<div class="col span_4_of_5">
													<div class="alert alert-warning" data-ng-show="newUserPassword !== '' && newUserPasswordRepeat !== '' && newUserPassword !== newUserPasswordRepeat">Passwords are not identical</div>
												</div>
											</div>
											<div class="section group">
												<div class="col span_2_of_4">
													<div class="panel panel-default">
														<div class="panel-heading">All Roles:</div>
														<div class="panel-body">
															<div class="form-check">
															  <label class="form-check-label">
															    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" unchecked>
															    Administrator
															  </label>
															</div>															
														</div>
													</div>
												</div>
												<div class="col span_2_of_4">
													<div class="panel panel-default">
														<div class="panel-heading">Selected Roles:</div>
														<div class="panel-body">
															<div class="form-check">
															  <label class="form-check-label">
															    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" unchecked>
															    Administrator
															  </label>
															</div>															
														</div>
													</div>												
												</div>
											</div>
											<div class="section group col pull-right">
												<button type="submit" class="btn btn-primary">Save</button>
												<button class="btn" data-ng-click="showCreateUserForm=false">Cancel</button>
											</div>
                                    	</form>
                                    </div>
                                </div>
                                <div class="panel panel-default" data-ng-show="showCreateRoleForm">
                                    <div class="panel-heading"><b>Create Role</b></div>
                                    <div class="panel-body">
                                    	<form id="createroleform">
                                    	<div class="col span_1_of_2">
                                    	
                                    		<div class="form-group">
										    	<label>Name:</label>
										    	<input type="text" class="form-control" id="newRoleName" placeholder="eg. Administrator" data-ng-model="newRoleName">
  											</div>
  											<div class="form-group">
	  											<label>Permissions:</label>
	  											<div class="panel panel-default">
	  												<div class="panel-body">
														<div data-ng-repeat="permission in permissions">
															<div class="form-check">
																<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" data-checklist-model="selectedPermissions.selected" data-checklist-value="permission">
																	{{ permission.text }}
																</label>
															</div>
														</div>
	  												</div>
	  											</div>  											
  											</div>
									    </div>
									    <div class="section group col pull-right">
									    	<button type="submit" class="btn btn-primary">Save</button>
									    	<button class="btn btn-alert" data-ng-click="showCreateRoleForm=false; clearCreateRoleForm()">Cancel</button>
									    </div>
                                    	</form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" data-ng-show="showCreateCustomerForm">
                    <div class="panel-heading"><b>CREATE CUSTOMER</b></div>
                    	<div class="panel-body">
                    		<form id="createcustomerform">
                				<div class="section group">
                         			<div class="col span_1_of_4">
                        				<label>Name:</label>
										<div class="form-group">
	    									<input type="text" class="form-control" id="firstname" placeholder="eg: BillyBob">
										</div>
									</div>
								</div>
									<div class="pull-right">
										<button type="submit" class="btn btn-primary">Save</button>
										<button class="btn" data-ng-click="showCreateUserForm=false">Cancel</button>
									</div>								
							</form>
                    </div>
                </div>
			</div>
	</div>
</div>
}
